.reviews {
    padding: 20px;
    
    text-align: center;
  }
  
  .reviews h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color:rgb(240, 192, 102);
  }
  
  .review-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .review-card {
    background-color: rgb(247, 230, 230);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: left;
  }
  
  .review-card p {
    font-size: 16px;
    color: #333;
  }
  
  .review-card h4 {
    font-size: 18px;
    margin-top: 10px;
    color: #053053;
  }
  

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.contact form label {
 
    margin-top: 10px;
    color: rgb(253, 250, 250);
  
}

.contact form input, .contact form textarea {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(247, 230, 230);;
    
}

.contact form button {
    padding: 10px 20px;
    background-color:  rgb(240, 192, 102);;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.contact form button:hover {
    background-color: darkmagenta;
    color: lightgray;
}
.contact h2{
    text-align: center;
    font-size:30px;
    color: rgb(240, 192, 102);
}

.footer{
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    height: 30%;
}

.main{
    background-image: url(../../assets/pexels-donaldtong94-189333.jpg);
    background-size: cover; 
  background-position: center;
  padding-bottom: 50px;
}

.header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: rgb(6, 6, 6);
  color: white;
  font-size: 25px;
  width: 100%;
  height: 30px;
}

.header p {
  font-weight: bold;
  margin: 0;
  font-size: 20px;
}

.header nav {
  margin-top: 0; 
}

.header nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.header nav a:hover {
  text-decoration: underline;
}
.header .logo {
  height: 10px; 
  margin-right: 20px; 
}